<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <title>Todo-List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <style>
      .main-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body style="text-align:center">
    <section id="main" class="main-section">
      <h2>Todo-List</h2>
      <table border="1">
        <tr>
          <th>Task Name</th>
          <th>Task priority</th>
          <th>Task Date</th>
        </tr>
        <tr>
          <td><%= data.taskdata %></td>
          <td><%= data.taskpr%></td>
          <td><%= data.taskdate%></td>
        </tr>
      </table> 
    </section>
    
    <!-- <script>
        document.getElementById("#submit");

        $("#add").click(function () {
          newRowAdd = `<form id='new-task' action="">
          <input name="taskname" type="text" placeholder="text" value="" />
          <select name="taskpr" id="">
              <option value=""> Admin </option>
              <option value=""> User </option>
              <option value=""> viewer </option>
          </select>
          <input type="date" id="" name="taskdate">
        <a id="delete">X</a>
        </form>`;

          $("#main").append(newRowAdd);
        });

        $("body").on("click", "#delete", function () {
          $(this).parents("#new-task").remove();
        });
    </script> -->
  </body>
</html>
